/code/.phpunit.cache
/code/node_modules
/code/public/build
/code/public/hot
/code/public/storage
/code/storage/*.key
/code/vendor
code/.env
code/.env.backup
code/.env.production
code/.phpunit.result.cache
code/Homestead.json
code/Homestead.yaml
code/auth.json
code/npm-debug.log
code/yarn-error.log
/code/.fleet
/code/.idea
/.vscode
.editorconfig